<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais
          de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>

  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais
          de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>
  </ion-card>

</ion-content>